@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "variables_&_fonts.css";

@import "borders.css";

@import "myReset.css";

#logo-img,
#face-img {
	max-height: 90%;
	max-width: 100%;
}

#name {
	line-height: 8dvh;
	font-size: 7dvh;
}

#top-hero div {
	height: 20dvh;
}

#second-hero div {
	height: 15dvh;
}

#subTitle1, #subTitle2{
  font-family: "Fira Sans Extra Condensed", sans-serif;
	font-style: italic;
	font-weight: 400;
}

.yo{
	font-style: normal;
	font-weight: 200;
}

#y{
  font-size: 250%;
	font-style: oblique;
}

@media only screen and (min-width: 768px) {
  #y{
    font-size: 300%;
  }
}

#third-hero p {
	line-height: 170%;
	text-indent: -5%;
	text-wrap: pretty;
}

.h-10{
  height: 13%;
}

.letter-spacing{
	letter-spacing: 2px;
}
