/* @import "variables-&-fonts.css";

@import "borders.css";

@import "myReset.css";

@import "contact-form.css";
 */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



:root {
  --pineTree: #272822;
  --pineTreeDark: #151613;
  --straw: rgb(230, 219, 116);
  --lavenderPurpleLight: #b18fe7;
  --lavenderPurple: rgb(151, 129, 187);
  --lavenderPurpleDark: #9c66f1;
  --lavenderPurpleDarker: #6a20e2;
  --skyBlue: rgb(113, 206, 230);
  --skyBlueDark: rgb(50, 162, 190);
  --skyBlueDarkOpacity: rgba(50, 162, 190, 0.7);
  --thickOfBorders: 4px;
}

/* "my-reset" Se reescriben tags, clases de bootstrap, y se crean nuevas clases similares a bootstrap con el prefijo my-*/

*,
h1,
h2,
h3,
h4,
h5,
h6,
figure {
  margin: 0;
}

/*overflow-x hidden elimina problema ocurrido al a̶g̶r̶a̶n̶d̶a̶r̶ c̶o̶s̶a̶s̶ -̶e̶n̶ e̶s̶t̶e̶ c̶a̶s̶o̶ p̶a̶r̶t̶i̶c̶u̶l̶a̶r̶ c̶u̶a̶n̶d̶o̶ hover
No al agrandar, ya se comprobó. Es con el hover. Supongo es un bug, pero me ocurre solo en portfolio!!!! a otros también les pasa y parchan con esto.
Ocurre con los botones de la navegación y los iconos de las tecnológias que trabajo.-*/
body {
  background-color: var(--pineTree);
  color: white;
  overflow-x: hidden;
}

mark {
  background-color: var(--straw);
  color: var(--pineTree);
}

path {
  fill: var(--pineTree);
}

/*Clases de utilidad (utility-first)*/
.skyBlue{
  color: var(--skyBlue);
}

.lavenderPurple{
  color: var(--lavenderPurple);
}

.h-40px {
  height: 40px;
}

.h-70 {
  height: 70% !important;
}

.letter-spacing {
  letter-spacing: 2px;
}

.my-border-left-straw {
  border-left: var(--thickOfBorders) solid var(--straw);
}

.my-border-right-straw {
  border-right: var(--thickOfBorders) solid var(--straw);
}

.my-border-top-straw {
  border-top: var(--thickOfBorders) solid var(--straw);
}

.my-border-bottom-straw {
  border-bottom: var(--thickOfBorders) solid var(--straw);
}

.my-border-left-skyBlue {
  border-left: var(--thickOfBorders) solid var(--skyBlue);
}

.my-border-right-skyBlue {
  border-right: var(--thickOfBorders) solid var(--skyBlue);
}

.my-border-top-skyBlue {
  border-top: var(--thickOfBorders) solid var(--skyBlue);
}

.my-border-bottom-skyBlue {
  border-bottom: var(--thickOfBorders) solid var(--skyBlue);
}

.my-border-left-lavenderPurple {
  border-left: var(--thickOfBorders) solid var(--lavenderPurple);
}

.my-border-right-lavenderPurple {
  border-right: var(--thickOfBorders) solid var(--lavenderPurple);
}

.my-border-top-lavenderPurple {
  border-top: var(--thickOfBorders) solid var(--lavenderPurple);
}

.my-border-bottom-lavenderPurple {
  border-bottom: var(--thickOfBorders) solid var(--lavenderPurple);
}

.rounded-top-right {
  border-top-right-radius: 1rem;
}

.rounded-top-left {
  border-top-left-radius: 1rem;

}

.h_line {
  height: 2px;
  opacity: 1;
  background: var(--straw);
}

.box-sizing-content-box {
  box-sizing: content-box;
}

.bg-purple {
  background-color: var(--lavenderPurple);
}

.icon-inButtonNav {
  background-color: var(--pineTree);
  border-radius: 30%;
}

.btn-outline-terciary {
  /*clase de utilidad?*/
  --bs-btn-color: var(--straw); /* light */
  --bs-btn-border-color: var(--straw); /* light */
  --bs-btn-hover-color: var(--pineTree);
  --bs-btn-hover-bg: var(--straw); /* normal */
  --bs-btn-hover-border-color: var(--straw); /* normal */
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: var(--pineTree);
  --bs-btn-active-bg: var(--straw); /* normal */
  --bs-btn-active-border-color: var(--straw); /* normal */
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(10,10,10); /* normal */
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--pineTreeDark); /* normal */
  --bs-gradient: none;
}
/*Se terminan las Clases de utilidad (utility-class)*/

/*Reescribiendo clases de bootstrap*/
.btn {
  border-width: 4px; /* coincida con el resto de lineas */
  padding-right: 15px; /* corrección, porque la fuente de letra tiene un espaciado mas grande a la derecha, entonces se reduce el padding por default que es de 16px */
  padding-bottom: 7px; /* mismo concepto que el anterior, solo que aplicado al padding inferior */
}

.btn:hover {
  text-shadow: 1px 0 #6d6d6d;
}

.btn-lg {
  font-size: 10em;
}

.btn-lg:hover {
  letter-spacing: 2px;
  text-shadow: 1px 0 #6d6d6d;
  transform: scale(1.05);
}

.btn-outline-secondary {
  --bs-btn-color: var(--lavenderPurple);
  --bs-btn-border-color: var(--lavenderPurple);
  --bs-btn-hover-color: var(--pineTree);
  --bs-btn-hover-bg: var(--lavenderPurple);
  --bs-btn-hover-border-color: var(--lavenderPurple);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: var(--pineTree);
  --bs-btn-active-bg: var(--lavenderPurple);
  --bs-btn-active-border-color: var(--lavenderPurple);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(10,10,10);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--pineTreeDark);
  --bs-gradient: none;
}

.btn-outline-primary {
  --bs-btn-color: var(--skyBlue);
  --bs-btn-border-color: var(--skyBlue);
  --bs-btn-hover-color: var(--pineTree);
  --bs-btn-hover-bg: var(--skyBlue);
  --bs-btn-hover-border-color: var(--skyBlue);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: var(--pineTree);
  --bs-btn-active-bg: var(--skyBlue);
  --bs-btn-active-border-color: var(--skyBlue);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: rgb(10, 10, 10);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--pineTreeDark);
  --bs-gradient: none;
}

.btn-outline-light {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-gradient: none;
  border: 1px solid var(--skyBlue);
  color: var(--skyBlue);
}

.btn-outline-light:hover {
  color: var(--pineTree);
  background-color: var(--skyBlue);
  border-color: var(--pineTree);
}

.btn-outline-light:focus-visible {
  color: var(--pineTree);
  background-color: var(--skyBlue);
  border-color: var(--pineTree);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-outline-primary:focus-visible {
  color: var(--pineTree);
  background-color: var(--skyBlue);
  border-color: var(--pineTree);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-outline-secondary:focus-visible {
  color: var(--pineTree);
  background-color: var(--lavenderPurple);
  border-color: var(--pineTree);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}

.btn-primary {
  --bs-btn-color: var(--pineTree);
  --bs-btn-bg: var(--lavenderPurpleLight);
  --bs-btn-border-color: var(--lavenderPurpleLight);
  --bs-btn-hover-color: var(--pineTree);
  --bs-btn-hover-bg: var(--lavenderPurpleLight);
  --bs-btn-hover-border-color: rgb(44, 29, 68);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: var(--pineTree);
  --bs-btn-active-bg: rgb(144, 99, 218);
  --bs-btn-active-border-color: #0a53be;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--pineTree);
  --bs-btn-disabled-bg: var(--lavenderPurpleLight);
  --bs-btn-disabled-border-color: var(--pineTreeDark);
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-title-color: ;
  --bs-card-subtitle-color: ;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(
    0.5rem - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(33, 39, 41, 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: white;
  --bs-card-bg: var(--pineTree);
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  color: var(--bs-body-color);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: 3px solid var(--skyBlueDark);
  border-radius: var(--bs-card-border-radius);
}

.card-footer {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  color: var(--skyBlue);
  border-top: 2px solid var(--skyBlueDarkOpacity);
  background-color: var(--bs-card-cap-bg);
}
/* Aqui termina el renombramiendo de bootstrap*/

/*Fuentes de letra*/
.fira-sans-extra-condensed {
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}
/*Aqui termina fuentes de letra*/

/*Reglas generales para todas las secciones*/
/*Básicamente header, footer, pero eso no significa que todos los headers y footers sean iguales, se le da más especificidad necesaria en su sección de cada página*/

#main-container{
  min-height: 100vh;
}

.next-page-p {
  line-height: 80%;
}
.next-page-a:hover {
  background-color: var(--straw);
  color: var(--pineTree);
}

.next-page-a {
  color: white;
}

/*Termina reglas generales para todas las secciones*/

/*index.html*/
#logo-img,
#face-img {
  max-height: 90%;
  max-width: 100%;
}

#face-img{
  filter: grayscale(90%);
  transition: filter 700ms ease;
}

#mi-foto-container:hover #face-img,
body:has(#y-container:hover) #face-img {
  filter: none;
}


#name {
  line-height: 8dvh;
  font-size: 7dvh;
  letter-spacing: 4px;
  text-underline-offset: 0.05em;
  text-decoration: rgba(230, 219, 116, 1) underline;
  transition: text-decoration-color 700ms, text-underline-offset 400ms;
}

#name:hover{
  text-decoration-color: rgba(113, 206, 230, 1);
  text-underline-offset: 0.25em;
}

/* #name span{
  text-decoration: white underline;
} */

#header div {
  height: 20dvh;
}

#title-of-main{
  overflow: hidden;
}

#title-of-main div {
  height: 15dvh;
}

#yo-diseno,
#yo-desarrollo {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-style: italic;
  font-weight: 400;
}

#y {
  font-size: 250%;
  font-style: oblique;
}

#y::before, #y::after {
  font-size: 70%;
  content: "&&&&&&&&&";
  opacity: 0.15;
  letter-spacing: 3px;  
  transition: all ease 700ms;
}

#y::after{
  padding-left: 3px;
}

#y-container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  overflow-x: hidden;
  background-color: var(--pineTree);
}



body:has(#mi-foto-container:hover) #y::after,
#y-container:hover #y::after {
  opacity: 0.8;
  color: var(--lavenderPurple);
}

body:has(#mi-foto-container:hover) #y::before,
#y-container:hover #y::before{
  opacity: 0.8;
  color: var(--skyBlueDark);
}

#body-of-main {
  line-height: 150%;
  text-wrap: pretty;
}

.yo {
  font-style: normal;
  font-weight: 200;
}

/* ESTILOS portfolio.html */

#lenguajes h2 {
  font-size: 2em;
  letter-spacing: 2px;
  word-spacing: 3px;
}

#lenguajes > div {
  height: 100%;
}

h1{
  width: fit-content;
}

h1 span{
  font-size: 80%;
}

.title-container h1{
  position: relative;
}

.title-container h1{
  letter-spacing: 4px;
  word-spacing: 10px;
  font-size: calc(3rem + 0.3vw);
  /* width:160px; */
  text-align:center;
  margin:auto; 
}

.title-container h1::before, .title-container h1::after {
  background-color: rgba(255, 255, 255, 0.7);
  content: '';
  display: block;
  height: 4px;
  width: 5%;
  z-index: -1;
  transition: all ease 0.4s;
}

.title-container h1::before{
  margin-bottom: 5px;
  margin-top:0.25em;
}

.title-container h1::after {
  position: absolute;
  margin-bottom:0.25em;
  margin-top:0;
  right:0;
}

.title-container h1:hover::after,
.title-container h1:hover::before,
body:has(.title-container:hover) h1::after,
body:has(.title-container:hover) h1::before {
  width: 100%;
}



#lenguajes img {
  max-height: 100px;
  transition: all .2s ease-in-out
}

#lenguajes img:hover {
  transform: scale(1.2);
}

/* Dispositivos md hacia arriba*/
@media only screen and (min-width: 768px) {
  #y {
    font-size: 300%;
  }
  #lenguajes h2 {
    font-size: 3em;
  }
}

/* Celulares en horizontal */
@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  #y {
    font-size: 250%;
  }

  #title-of-main div {
    height: 27dvh;
  }

  .h40px {
    height: 20px;
  }
}

figure>a{
  color:white;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 0.11em;
  transition: text-underline-offset 400ms ease, text-decoration-color 400ms ease;

  &.lenguaje{
    text-decoration-color: var(--skyBlue);
  }

  &.tecnologia{
    text-decoration-color: var(--lavenderPurpleDark);
  }

  &:hover{
    text-underline-offset: 0.4em;
    text-decoration-color: var(--straw);
  }
}

figcaption {
  text-align: center;
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.2em;
}

.label-error {
  border-image-source: linear-gradient(
    180deg,
    #cf2e41 75%,
    transparent 25%
  ) !important;
}

.form-column {
  gap: 22px;
}

.form-group {
  position: relative;
  width: 100%;
  padding-bottom: 0.8em;
}

.form-group input,
.form-group textarea {
  background-color: var(--pineTree);
  padding: 12px;
  border-radius: 0px;
  border-width: 3px;
  border-color: var(--lavenderPurple);
}

.form-group label {
  position: absolute;
  color: #636363;
  pointer-events: none;
  font-size: 1.1em;
  transform: translate(20px, -38px);
  transition: 0.5s;
}

#label-mensaje {
  transform: translate(20px, -213px);
}



.form-group input:not(:placeholder-shown) ~ #label-nombre,
.form-group input:focus ~ #label-nombre,
.form-group input:not(:placeholder-shown) ~ #label-correo,
.form-group input:focus ~ #label-correo,
.form-group input:not(:placeholder-shown) ~ #label-fono,
.form-group input:focus ~ #label-fono,
.form-group textarea:not(:placeholder-shown) ~ #label-mensaje,
.form-group textarea:focus ~ #label-mensaje{
  color: white;
  transform: translate(20px, -76px);
  font-size: 1em;
  padding: 0 10px;
  background-color: var(--pineTree);
  border-top: 3px solid;
  border-right: 3px solid;
  border-left: 3px solid;
  border-image-source: linear-gradient(
    180deg,
    var(--lavenderPurple) 75%,
    transparent 25%
  );
  border-image-slice: 1;
  padding-top: 5px;
}

.form-group textarea:not(:placeholder-shown) ~ #label-mensaje,
.form-group textarea:focus ~ #label-mensaje {
  transform: translate(20px, -249px);
}

.form-control,
.form-control:focus {
  background-color: var(--pineTree);
  color: white;
}

#label-nombre,
#label-mensaje,
#label-correo,
#label-fono {
  color: #b8b8b8;
}

#contactanos button {
  width: 200px;
}

input[required] + label:after,
textarea[required] + label:after{
  content: "*"
}

/* XS */
@media screen and (min-width: 320px) {
  textarea.form-control {
    margin-top: 22px;
  }
}

/* LG */
@media screen and (min-width: 992px) {
  textarea.form-control {
    margin-top: 0px;
  }
  .w-md-80 {
    width: 80% !important;
  }

  .form-group textarea:not(:placeholder-shown) ~ #label-mensaje,
  .form-group textarea:focus ~ #label-mensaje {
    transform: translate(20px, -250px);
  }

  textarea{
    height: 100%;
  }

}

/* menor o igual a 992 */
@media screen and (max-width: 991px) {
  .form-group textarea:not(:placeholder-shown) ~ #label-mensaje,
  .form-group textarea:focus ~ #label-mensaje {
    transform: translate(20px, -222px);
  }

  #label-mensaje {
    transform: translate(20px, -185px);
  }

  textarea{
    height: 200px;
  }
}

/* SM */
@media screen and (min-width: 576px) {
  #body-of-main {
    column-count: 2;
    column-gap: 0.5em;
  }
}

.form-control:focus{
  border-color: var(--lavenderPurple);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(151, 129, 187, 0.25);
}

.shake{
  animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
  0% { transform: translateX(0); }
  50% { transform: translateX(12px);}
  100% { transform: translateX(-12px)}
}

#yo-desarrollo, #yo-diseno, #real-main{
  background-color: #151613;
}

.estrella {
  width: 35px;
  height: 35px;
  background: linear-gradient(to top left, var(--skyBlueDark), rgb(238, 238, 238));
  position: fixed;
  top: 50%;
  left: 50.5%;
  margin: -20px 0 0 -20px;
  pointer-events: none;
  mix-blend-mode:difference;
  z-index: 10;
  clip-path: polygon(50% 0%, 40% 40%, 0% 50%, 40% 60%, 50% 100%, 60% 60%, 100% 50%, 60% 40%);
  transition: clip-path 2000ms ease-in-out, width 800ms ease, height 800ms ease, top 400ms ease, left 400ms ease, mix-blend-mode 600ms ease;
}

body:has(a:hover) #estrella{
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  width: 25px;
  height: 25px;
  top: 51%;
  left: 50.9%;
  mix-blend-mode:multiply;
}

.card-img, .card-img-top{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Pantallas grandes */
@media only screen and (min-width: 1400px) {
  #body-of-main {
    font-size: calc(1.2rem + 1vw) !important;
  }
}

/* Pantallas pequeñas */
@media only screen and (max-width: 576px) {

    #estrella{
      display: none;
    }

  .fs-3 {
    font-size: 1.4rem !important;
  }

  .next-page {
    line-height: 150%;
  }
  
  .estrella{
    height: 25px;
    width: 25px;
  }
}