@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "variables_&_fonts.css";

@import "borders.css";

@import "myReset.css";

#logo-img,
#face-img {
	max-height: 90%;
	max-width: 100%;
}

#name {
	line-height: 8dvh;
	font-size: 7dvh;
}

#header div {
	height: 20dvh;
}

#title-of-main div {
	height: 15dvh;
}

#yo-diseno,
#yo-desarrollo {
	font-family: "Fira Sans Extra Condensed", sans-serif;
	font-style: italic;
	font-weight: 400;
}

.yo {
	font-style: normal;
	font-weight: 200;
}

#y {
	font-size: 250%;
	font-style: oblique;
}

#body-of-main{
	line-height: 170%;
	text-indent: -5%;
	text-wrap: pretty;
}

.h40px {
	height: 40px;
}

.letter-spacing {
	letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
	#y {
		font-size: 300%;
	}
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
	#y {
		font-size: 250%;
	}

	#title-of-main div {
		height: 27dvh;
	}

	.h40px {
		height: 20px;
	}
}

@media only screen and (min-width: 1400px) {
	#body-of-main {
		font-size: calc(1.2rem + 1vw) !important;
	}
}

/* ESTILOS ESPECIFICOS PARA PORTFOLIO */

#header-portfolio div {
	height: 10dvh;
}

#mis-proyectos{
	letter-spacing: 4px;
	word-spacing: 10px;
}